html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	background: #222;

	display: flex;
	align-items: center;
	justify-content: center;
}

scene, scene layer {
	width:  calc(var(--width) * var(--unit));
	height: calc(var(--height) * var(--unit));
}

scene {
	--unit: 0.15vmin;
	background: black;
	position: relative;
	overflow: hidden;
}

scene layer {
	position: absolute;
	transform: 
		translate(
			calc(var(--x) * var(--unit)),
			calc(var(--y) * var(--unit))
		)
		scale(
			var(--flip),
			1
		);
}

scene canvas {
	width: 100%;
	height: 100%;
	position: absolute;
	image-rendering: pixelated;
}

scene canvas:not(.glow) {
	box-sizing: border-box;
	border: 1px solid var(--debug-color);
}

scene canvas.glow {
	mix-blend-mode: screen;
	filter: blur(5px) brightness(calc(100% * var(--glow)));
}



/*layer#sky { --debug-color: blue; }*/
/*layer#meteor { --debug-color: yellow; }*/
